body{ 
      width:100%;
      background-color:#F1CBB2;}        

#landingpage{display:none;}
#aboutme{display:none;}
#projects{display:none}

/*Smartphones*/
@media (min-width:320px) {

      #headername{
            position:relative;
            top:2em;
            font-family: 'Vollkorn', serif;
            font-size:1.6em;
            color:#4D2027;}

      #name{
            font-size:3em;}      

#landingpage{
            position:relative;
            display:block;
            height:48em;}

    #myself{
            display:none;}
    #comment{
            position:relative;
            top:5em;
            display:block;
            margin:0 auto;
            color:#4D2027;}
            
    #question{
            font-size:4em;}
    
    #answer{
            font-size:2em;}


.caption{ 
        font-family: 'Playfair Display', serif;
        font-size:3em;
        font-weight: bold;
        text-align:center}

#aboutme{display:none;}
.nav{display:none;}
.nav p{display:none;}
      
#projects{
      display:block;
      border-top: .4em solid black;
      background-color:#EEB6A2;
      color:#1B372E;}

.captionbody{
    font-family: 'Playfair Display', serif;
    font-size:1.3em;
    width:55%;
    text-align:center;
    display:block;
    margin:0 auto 1em auto;
    color:#1B372E;
}

.bodyprojects{    
      display:block;
      margin-top:1em;
      width:65%;
      margin:0 auto;
      font-family: 'Playfair Display', serif;
      font-size:1.3em;}


.bit-3 a:link{
      text-decoration:none;
      color:#0D1580}
.bit-3 a:visited{
      color:#0D1580;}
.bit-3 a:hover{
      color:#0D8077;}

.bit-2 a:link{
      text-decoration:none;
      color:#0D1580}
.bit-2 a:visited{
      color:#0D1580;}
.bit-2 a:hover{
      color:#0D8077;}

.bit-1 a:link{
      text-decoration:none;
      color:#0D1580}
.bit-1 a:visited{
      color:#0D1580;}
.bit-1 a:hover{
      color:#0D8077;}

#footer{
      display:block;
      height:20%;
      border-top:.4em solid black;
      position:relative;
      background-color:#E2A2EE;
      font-family: 'Vollkorn', serif;}

      i {size:5em;}
    
#footerframe{
          width:80%;
          margin:0 auto;}   
    
      #mail{
            display:inline-block;}
      #mail p{
            font-size:1.5em;
            margin-bottom:.1em;}  

      #connect{
            display:inline-block;
            margin-left:50%;} 
      #connect p{
            font-size:1.5em;
            margin-bottom:.1em;}

      #github{
            display:inline-block;
            float:right;}
      #github p{
            font-size:1.5em;
            margin-bottom:.1em;}
}



      

/*600 screen resolution*/
@media (min-width:600px) { 
#comment{
      position:relative;
      top: 7em;
    left:25%;
      display:inline-block;
      width:55%;
      color:#4D2027;}


}

@media (min-width:700px) { 
#aboutme{
        display:block;
        border-top: .4em solid black;
        background-color:#BFD5E5;
        height:93em;
        color:#510811;}




.body{  
      position:relative;
      top:3em;  
      display:block;
      width:65%;
      margin:0 auto;
      font-family: 'Playfair Display', serif;
      font-size:1.3em;}  

      
}

@media (min-width:830px) { 
#aboutme{
        height:82em;}

.nav{
      display:block; 
      margin-left:5em}
      
.nav a:link{
      text-decoration:none;
      color:white;}

.nav a:visited{
      color:#D9DFD1}
  
.nav a:hover{
      color:yellow;}

.nav p{
    display:block;
      font-size:20px;
      position:relative;
      top:2.1em;
      text-align:center;}

    .nav #aboutbutton{
            display:inline-block;
            height: 7em;
            width: 7em;
            border-radius:500px;
            background-color:#0A4AE1;
            margin-right:1em;}

    
    .nav #projectsbutton{      
            display:inline-block;
            height: 7em;
            width: 7em;
            border-radius:500px;
            background-color:#E13C0A;
            margin-right:1em;}
      
    .nav #contactbutton{
            display:inline-block;
            height: 7em;
            width: 7em;
            border-radius:500px;
            background-color:#AF099E;}
}

@media (min-width:900px) { 
#aboutme{
        height:72em;}
}


/*1025 screen resolution*/
@media (min-width:1025px) { 
#aboutme{
        height:65em;}
#myself{
      display:inline-block;
      margin-top:6em;
      margin-left:10%;
            border-radius:500px;
            height:25em;}
#comment{
      position:relative;
      top: -3em;
    left:0;
      display:inline-block;
      margin-left: 3em;
      width:45%;
      color:#4D2027;}
      
      
}



@media (min-width:1200px) { 
#aboutme{
        height:58em;}
}








