body{
  box-sizing:border-box;
  background-image: url(../images/rsz_sf.jpg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-attachment:fixed; 
}

 a:link{
  text-decoration: none;
  color:#BD2040;
  font-family: 'Lato', sans-serif;  
}
 a:visited{
  color:#BD2040
}
 a:hover{
  color:#119C1C;
}

header{
  position:fixed;
  width:30%;
}

header img{
  display:inline-block;
  width:10em;
  border-radius: 0.7em;
  border:0.063em solid;
}

nav a.font{
  position:relative;
  display:block;
  left: 9.3em;    
  top: -11.4em;
  margin:1em;
}

nav a.icon{
  display:none;
}

.name{opacity:0;
position:absolute;
font-family: 'Lora', serif;
top:-5%;
left:32%;
font-size:2em;  
}

.welcome p{
  opacity:0;  
  position:relative;
  left:70%;
  margin-bottom: 1em;
  width:30%;
  font-size:1.3em;
  font-family: 'Lora', serif;
}

@media(min-width:385px){
nav a.icon{
  display:inline-block; 
  position:relative;
  margin:0.2em; 
  top:-12.2em;
  left:1.5em;
}
}

@media(min-width:563px){
nav a.icon{
  margin:0.8em;
  top:-12.8em;  
  left:-0.4em;
}
}

@media(min-width:797px){
.welcome p{
  opacity:1;
}
}

@media(min-width:1200px){
.name{
  opacity:1;
}
}