body{
  box-sizing:border-box;
  background-image: url(../images/rsz_sf.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:fixed;
}


header{
  width:30%;
}

header img{
  display:inline-block;
  width:10em;
}

nav a{
  position:relative;
  display:block;
  left: 9.3em;    
  top: -11em;
  margin:1em;
  font-family: 'Lato', sans-serif;
}

nav a:link{
  text-decoration: none;
}

nav i{
  position:relative;
  margin:0.5em; 
  top:-6.5em;
  left:-0.4em;
}

.name{
position:absolute;
font-family: 'Lora', serif;
top:-5%;
left:32%;
font-size:2em;  
}

.welcome p{
  position:relative;
  right:-55em;
  top:-20em;
  margin-bottom: 1em;
  width:17%;
  font-size:1.3em;
  font-family: 'Lora', serif;
}