body{
      width:100%;
      box-sizing:border-box;
      background-image: url(../images/rsz_sf.jpg);
      background-size: 100% 248%;
      background-repeat:no-repeat;
      background-position:fixed;
    }


}