body{
      width:100%;
      box-sizing:border-box;
      background-image: url(../images/rsz_sf.jpg);
      background-size: 100% 248%;
      background-repeat:no-repeat;
      background-position:fixed;
    }

header #myself{
        display:inline-block;
        top:10%;
        left:10%;
        width: 50%;
        height: 50%;
}