body{ 
      width:100%;
      background-color:#F1CBB2;}        

#landingpage{display:none;}
#aboutme{display:none;}
#projects{display:none}

/*Smartphones*/
@media (min-width:320px) {

      #headername{
            position:relative;
            top:2em;
            font-family: 'Vollkorn', serif;
            font-size:1.6em;
            color:#4D2027;}

      #name{
            font-size:3em;}      

#landingpage{
            position:relative;
            display:block;}


#blue{
        display:block;
        background-color:#BFD5E5;
        color:#510811;}

#blue .body{  
      font-family: 'Playfair Display', serif;
      font-size:1.3em;}  

      

#orange{
      display:block;
      background-color:#EEB6A2;
      color:#1B372E;}
     

#orange .body{
    font-family: 'Playfair Display', serif;
    font-size:1.3em;}




      

