body{ 
      width:100%;
      background-color:#F1CBB2;}        


#blue{display:none;}
#orange{display:none}

/*Smartphones*/
@media (min-width:320px) {

header a:link{
text-decoration: none;
background-color: black;
color:white;}
 
header a:visited{
text-decoration: none;
background-color: black;
color:white;} 

#blue{
        display:block;
        background-color:#BFD5E5;
        color:#510811;}

#blue .body{  
      font-family: 'Playfair Display', serif;
      font-size:1.3em;}  

      

#orange{
      display:block;
      background-color:#EEB6A2;
      color:#1B372E;}
     

#orange .body{
    font-family: 'Playfair Display', serif;
    font-size:1.3em;}




      

