
.blue {color:blue;}
a.link{color:#FF0000;}
a.visited{color:#00FF00;}
a.hover{color:yellow;}

#footer{position:relative;}
#image{positon:absolute;}
#caption{position:relative;}

#sidebar{position:float;}
#contentarea{position:float;}

