
.blue {color:blue;}
a.link{color:#FF0000;}
a.visited{color:#00FF00;}
a.hover{color:#FF00FF;}
#footer{
img{position:relative;}
#caption{position:absolute;
  bottom:-150px;
  font-size:10px;}
  }
#sidebar{position:float;}
#contentarea{position:float;}

