/*Smartphones*/
@media (min-width:320px) { 
header{background-color:#F2DEC4;
text-align:center;
height:300px;}
header #catchphrase{margin-bottom:30px;}
#catchphrase p{font-family: 'Pinyon Script', cursive;
font-size:50px;
margin-bottom:-40px;}
header #catchphrase #name{font-family: 'Oswald', sans-serif;
font-size:100px;}
nav{font-size:50px;
margin-top:100px;}
nav a:link{text-decoration:none;
color:black;
padding:10px;}
nav a:hover{color:#55153D;}

body{background-image:url('https://farm6.staticflickr.com/5233/14308447883_417ef0d5cf_o.jpg');}
#aboutme{color:#F2DEC4;}
#aboutme #caption{font-size:70px;
text-align:center;
}
#aboutme #body{font-size:30px;
width:50%;
margin-left:25%}

#projects{background-color:#645A4E}
#projects{color:#F2DEC4;}
#projects #caption{font-size:70px;
text-align:center;
margin-bottom:-10px;
}
#projects #body{font-size:30px;
text-align:center;}
#projects p{margin-bottom:30px;}


#projects a:link{text-decoration:none;}
#projects .caption{font-size:50px;}
#projects .body{margin-bottom: 30px;}

.bit-3{width:100%;}
}

/*Tablets*/
@media (min-width:600px) { 
.bit-3{width:50%;}
}

/*Desktop*/
@media (min-width:1025px) { 
}



