body{font-family:arial;}
  
header{color:white;
background-color:black;
}

header h1 {
  width:auto;
  text-align:center;}

nav ul{list-style-type: none;}

section{color:white;
background-color:black;
}

footer{color:white;
background-color:black;}

/*buttons*/
a {
  color:black;
  background-color:white;
  width:10em;
}
a:link{text-decoration:none;}

/*For 700px*/
@media screen and (max-width: 700px){
#fluid {display:none;}

/*buttons*/
a {
  color:blue;
  background-color:orange;
  width:10em;
}
  
header{color:orange;
background-color:blue;
}

section{color:orange;
background-color:blue;
}

footer{color:orange;
background-color:blue;}
}

/*For 480px or less*/
@media screen and (max-width: 480px){
#media {display:none;}
/*buttons*/
a {
  color:purple;
  background-color:yellow;
  width:10em;
}
  
header{color:yellow;
background-color:purple;
}

section{color:yellow;
background-color:purple;
}

footer{color:yellow;
background-color:purple;}
}



