body{background-color:#965629;}
header{text-align:center;
color:#F0D564;
border-bottom:0.5em solid #F0D564;
border-radius:20%;
margin-bottom:1em;}

div p{color:#F0CFE8;
text-align:center;}

#overview{width:50%;
border-radius:1em;
background-color:#F0D564;
color:#965629;
float:left;
margin-left:3%;
}
  
  #normalized{position:relative;
  float:right;
  border-radius:1em;
  width:38%;
  background-color:#4C2423;
  height:30%;
  clear:right}
  #normalized1{position:absolute;
  width:80%;
  height:80%;
  margin-left:10%;
  background-color:black;
  border-radius:1em;}
  #normalized2{position:absolute;
  width:80%;
  height:80%;
  margin-left:10%;
  margin-top:7%;
  background-color:#BC0600;
  border-radius:1em;}

#relative{border-radius:1em;
background-color:#F0D564;
color:#965629;
width:60%;
margin-bottom:1em;
float:left;
clear:right;
}

  #relativea{position:relative;
    width:38%;
  background-color:#4C2423;
  height:26%;
  float:left;
  border-radius:1em;
  clear:both;}
  #relative1{position:absolute;
  width:80%;
  height:70%;
  margin-left:20%;
  background-color:black;
  border-radius:1em;}
  #relative2{position:absolute;
  width:310px;
  height:130px;
  margin-left:10%;
  margin-top:7%;
  background-color:#BC0600;
  border-radius:1em;}

#absolute{float:right;
border-radius:1em;
background-color:#F0D564;
color:#965629;
width:60%;
clear:right;
}
    
  #absolutea{position:relative;
  width:38%;
  background-color:#4C2423;
  height:24%;
  float:right;
  border-radius:1em;
  margin-top:1em;}
  #absolute1{position:absolute;
  width:80%;
  height:70%;
  margin-left:20%;
  background-color:black;
  border-radius:1em;}
  #absolute2{position:absolute;
  width:80%;
  height:50%;
  margin-left:0;
  margin-top:1em;
  background-color:#BC0600;
  border-radius:1em;}

#fixed{
float:left;
border-radius:1em;
background-color:#F0D564;
color:#965629;
width:60%;
margin-top:1em;}
  
  #fixeda{position:relative;
  width:60%%;
  background-color:#4C2423;
  height:50%;
  float:left;
  border-radius:1em;
  margin-top:1em;}
  #fixed1{position:absolute;
  width:80%;
  height:80%;
  margin-left:10%;
  background-color:black;
  border-radius:1em;}
  #fixed2{position:absolute;
  width:80%;
  height:80%;
  margin-left:10%;
  margin-top:7%;
  background-color:#BC0600;
  border-radius:1em;}
  
  
  
  
  
  
